<div *ngIf="instance" class="section">
    <p>It Works!</p>
    <!-- <ur-dropdown
    [options]="options"
    [label]="'smart_skills.universal-robots-contribution-jodell-smart-skill.baudrate' | translate"
    [placeholder]="'- Select -' | translate"
    [selectedOption]="instance.baudrate"
    (selectionChange)="instance.baudrate = $event"
    ></ur-dropdown>
    <p> </p>
    <ur-dialog-input
    [type]="'number'"
    [disabled]="false"
    [label]="'smart_skills.universal-robots-contribution-jodell-smart-skill.identity' | translate"
    [message]="'smart_skills.universal-robots-contribution-jodell-smart-skill.identityHelpText' | translate"
    [validators]="[]"
    [validation]="{required: true, min:1, max:255}"
    (valueChanged)="instance.gripperID = $event"
    [positiveDigitsOnly]="true"
    [value]="instance.gripperID"
    unit="#"
    precision="1"
    ></ur-dialog-input> -->
</div>